@charset "UTF-8";
/**
 * Even theme for Hexo by Ahonn
 * Version 1.0.0
 * https://github.com/ahonn/hexo-theme-even
 */
@font-face {
  font-family: 'Chancery';
  src: url("../fonts/chancery/apple-chancery-webfont.eot");
  src: local("Apple Chancery"), url("../fonts/chancery/apple-chancery-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/chancery/apple-chancery-webfont.woff") format("woff"), url("../fonts/chancery/apple-chancery-webfont.ttf") format("truetype"), url("../fonts/chancery/apple-chancery-webfont.svg#apple-chancery") format("svg");
  font-weight: lighter;
  font-style: normal; }

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
   * 1. Set default font family to sans-serif.
   * 2. Prevent iOS and IE text size adjust after device orientation change,
   *    without disabling user zoom.
   */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
   * Remove default margin.
   */
body {
  margin: 0; }

/* HTML5 display definitions
     ========================================================================== */
/**
   * Correct `block` display not defined for any HTML5 element in IE 8/9.
   * Correct `block` display not defined for `details` or `summary` in IE 10/11
   * and Firefox.
   * Correct `block` display not defined for `main` in IE 11.
   */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
   * 1. Correct `inline-block` display not defined in IE 8/9.
   * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
   */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
   * Prevent modern browsers from displaying `audio` without controls.
   * Remove excess height in iOS 5 devices.
   */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
   * Address `[hidden]` styling not present in IE 8/9/10.
   * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
   */
[hidden],
template {
  display: none; }

/* Links
     ========================================================================== */
/**
   * Remove the gray background color from active links in IE 10.
   */
a {
  background-color: transparent; }

/**
   * Improve readability of focused elements when they are also in an
   * active/hover state.
   */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
     ========================================================================== */
/**
   * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
   */
abbr[title] {
  border-bottom: 1px dotted; }

/**
   * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
   */
b,
strong {
  font-weight: bold; }

/**
   * Address styling not present in Safari and Chrome.
   */
dfn {
  font-style: italic; }

/**
   * Address variable `h1` font-size and margin within `section` and `article`
   * contexts in Firefox 4+, Safari, and Chrome.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
   * Address styling not present in IE 8/9.
   */
mark {
  background: #ff0;
  color: #000; }

/**
   * Address inconsistent and variable font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` affecting `line-height` in all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
     ========================================================================== */
/**
   * Remove border when inside `a` element in IE 8/9/10.
   */
img {
  border: 0; }

/**
   * Correct overflow not hidden in IE 9/10/11.
   */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
     ========================================================================== */
/**
   * Address margin not present in IE 8/9 and Safari.
   */
figure {
  margin: 1em 40px; }

/**
   * Address differences between Firefox and other browsers.
   */
hr {
  box-sizing: content-box;
  height: 0; }

/**
   * Contain overflow in all browsers.
   */
pre {
  overflow: auto; }

/**
   * Address odd `em`-unit font size rendering in all browsers.
   */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
     ========================================================================== */
/**
   * Known limitation: by default, Chrome and Safari on OS X allow very limited
   * styling of `select`, unless a `border` property is set.
   */
/**
   * 1. Correct color not being inherited.
   *    Known issue: affects color of disabled elements.
   * 2. Correct font properties not being inherited.
   * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
   */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
   * Address `overflow` set to `hidden` in IE 8/9/10/11.
   */
button {
  overflow: visible; }

/**
   * Address inconsistent `text-transform` inheritance for `button` and `select`.
   * All other form control elements do not inherit `text-transform` values.
   * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
   * Correct `select` style inheritance in Firefox.
   */
button,
select {
  text-transform: none; }

/**
   * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
   *    and `video` controls.
   * 2. Correct inability to style clickable `input` types in iOS.
   * 3. Improve usability and consistency of cursor style between image-type
   *    `input` and others.
   */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
   * Re-set default cursor for disabled elements.
   */
button[disabled],
html input[disabled] {
  cursor: not-allowed; }

/**
   * Remove inner padding and border in Firefox 4+.
   */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
   * Address Firefox 4+ setting `line-height` on `input` using `!important` in
   * the UA stylesheet.
   */
input {
  line-height: normal; }

/**
   * It's recommended that you don't attempt to style these elements.
   * Firefox's implementation doesn't respect box-sizing, padding, or width.
   *
   * 1. Address box sizing set to `content-box` in IE 8/9/10.
   * 2. Remove excess padding in IE 8/9/10.
   */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Fix the cursor style for Chrome's increment/decrement buttons. For certain
   * `font-size` values of the `input`, it causes the cursor style of the
   * decrement button to change from `default` to `text`.
   */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
   * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
   * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
   */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
   * Define consistent border, margin, and padding.
   * [NOTE] We don't enable this ruleset in Foundation, because we want the <fieldset> element to have plain styling.
   */
/* fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
  } */
/**
   * 1. Correct `color` not being inherited in IE 8/9/10/11.
   * 2. Remove padding so people aren't caught out if they zero out fieldsets.
   */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Remove default vertical scrollbar in IE 8/9/10/11.
   */
textarea {
  overflow: auto; }

/**
   * Don't inherit the `font-weight` (applied by a rule above).
   * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
   */
optgroup {
  font-weight: bold; }

/* Tables
     ========================================================================== */
/**
   * Remove most spacing between table cells.
   */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

html {
  font-size: 100%;
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  color: #34495e;
  background: #fefefe;
  scroll-behavior: smooth;
  border-top: 3px solid #c05b4d; }

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle; }

a {
  color: #34495e;
  text-decoration: none; }

h2 {
  font-size: 22px; }

h3 {
  font-size: 20px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 16px; }

#main {
  width: 800px;
  margin: 0 auto; }

#container {
  margin: 32px 20px; }

header {
  height: 60px;
  padding: 20px 100px; }
  header .logo {
    float: left;
    font-size: 48px;
    font-family: "Chancery", cursive, LiSu, sans-serif; }
  header .nav {
    float: right;
    margin-top: 0;
    font-family: Athelas, Times New Roman, STHeiti, Microsoft Yahei, serif; }
    header .nav .nav-link {
      display: inline-block;
      padding: 20px 10px; }
      header .nav .nav-link a {
        font-size: 18px;
        line-height: 1.5; }
      header .nav .nav-link :hover, header .nav .nav-link .active {
        transition: 0.1s ease-out;
        border-radius: 2px;
        border-bottom: 2px solid #c05b4d; }

footer {
  padding-top: 2em; }
  footer .social {
    display: block;
    text-align: center; }
    footer .social .iconfont {
      display: inline-block;
      margin-right: 10px;
      font-size: 30px; }
      footer .social .iconfont:hover {
        color: #c05b4d; }
  footer .copyright {
    margin-top: 15px;
    margin-bottom: 10px;
    color: #8a8a8a;
    text-align: center;
    font-family: Athelas, Times New Roman, STHeiti, Microsoft Yahei, serif; }
    footer .copyright .heart {
      margin: 0 5px; }
      footer .copyright .heart .icon-heart {
        font-size: 14px; }
    footer .copyright .power {
      margin: 0; }
      footer .copyright .power a {
        color: #c05b4d; }
    footer .copyright .since {
      margin: 0; }
  footer #back2top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 10;
    opacity: 0;
    transition-property: transform;
    transition-timing-function: ease-out;
    transition-duration: 0.3s; }
    footer #back2top:hover {
      transform: translateY(-5px); }

.post {
  padding-top: 1em;
  padding-bottom: 2em; }
  .post .post-title {
    margin: 0px;
    font-weight: 400;
    font-size: 26px;
    font-family: Athelas, Times New Roman, STHeiti, Microsoft Yahei, serif; }
    .post .post-title .post-link:hover {
      border-bottom: 2px solid #c05b4d;
      transition: 0.1s; }
  .post .post-time {
    margin-top: 5px;
    display: inline-block;
    color: #8a8a8a; }
  .post .post-content h1 {
    font-weight: 400;
    font-family: Athelas, Times New Roman, STHeiti, Microsoft Yahei, serif; }
    .post .post-content h1:target {
      color: #c05b4d; }
  .post .post-content h2 {
    font-weight: 400;
    font-family: Athelas, Times New Roman, STHeiti, Microsoft Yahei, serif; }
    .post .post-content h2:target {
      color: #c05b4d; }
  .post .post-content h3 {
    font-weight: 400;
    font-family: Athelas, Times New Roman, STHeiti, Microsoft Yahei, serif; }
    .post .post-content h3:target {
      color: #c05b4d; }
  .post .post-content h4 {
    font-weight: 400;
    font-family: Athelas, Times New Roman, STHeiti, Microsoft Yahei, serif; }
    .post .post-content h4:target {
      color: #c05b4d; }
  .post .post-content h5 {
    font-weight: 400;
    font-family: Athelas, Times New Roman, STHeiti, Microsoft Yahei, serif; }
    .post .post-content h5:target {
      color: #c05b4d; }
  .post .post-content h6 {
    font-weight: 400;
    font-family: Athelas, Times New Roman, STHeiti, Microsoft Yahei, serif; }
    .post .post-content h6:target {
      color: #c05b4d; }
  .post .post-content .headerlink:hover {
    border-bottom: 0; }
  .post .post-content .headerlink::before {
    content: "§";
    margin-right: 5px;
    font-size: 1.1em; }
  .post .post-content a {
    color: #c05b4d;
    word-break: break-all; }
    .post .post-content a:hover {
      border-bottom: 1px solid #c05b4d; }
  .post .post-content blockquote {
    margin: 2em 0;
    padding: 10px 20px;
    position: relative;
    color: rgba(52, 73, 94, 0.8);
    background-color: rgba(192, 91, 77, 0.05);
    border-left: 3px solid rgba(192, 91, 77, 0.3);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125); }
    .post .post-content blockquote p {
      margin: 0; }
  .post .post-content img {
    display: inline-block;
    max-width: 100%; }
  .post .post-content > ul {
    padding: 0;
    list-style: inside; }
  .post .post-content > ol {
    padding: 0;
    list-style: inside decimal; }
  .post .post-content > table {
    margin-bottom: 20px;
    border-spacing: 0;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.125);
    border: 3px double #e8c3be; }
    .post .post-content > table th, .post .post-content > table td {
      padding: 5px 15px;
      background-color: white;
      border: 1px double #e8c3be; }

.post .post-sidebar {
  width: 200px;
  position: absolute;
  padding: 10px;
  margin-left: 780px;
  font-size: 15px;
  font-family: Athelas, Times New Roman, STHeiti, Microsoft Yahei, serif;
  border-radius: 5px;
  background: rgba(248, 245, 236, 0.6);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
  word-wrap: break-word; }
  .post .post-sidebar .heading {
    margin: 5px 0;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase; }
  .post .post-sidebar ol {
    list-style: square; }
    .post .post-sidebar ol a.active {
      color: #c05b4d; }
  .post .post-sidebar .toc {
    margin: 7px 0;
    padding-left: 18px; }
    .post .post-sidebar .toc .toc-child {
      padding-left: 15px; }

code, pre {
  padding: 7px;
  font-size: 13px;
  font-family: Consolas, Monaco, Menlo, Consolas, monospace;
  background: #f8f5ec; }

code {
  padding: 3px 5px;
  border-radius: 4px;
  color: #c7254e; }

.highlight {
  position: relative;
  margin: 1em 0;
  border-radius: 5px;
  overflow-x: auto;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125); }
  .highlight::after {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 2px 7px;
    font-size: 12px;
    font-weight: bold;
    color: #cacaca;
    background: #f4efe1;
    content: 'CODE'; }
  .highlight.html::after {
    content: "HTML"; }
  .highlight.js::after {
    content: "JS"; }
  .highlight.bash::after {
    content: "BASH"; }
  .highlight.css::after {
    content: "CSS"; }
  .highlight.scss::after {
    content: "SCSS"; }
  .highlight.diff::after {
    content: "DIFF"; }
  .highlight.java::after {
    content: "JAVA"; }
  .highlight.xml::after {
    content: "XML"; }
  .highlight.python::after {
    content: "PYTHON"; }
  .highlight.json::after {
    content: "JSON"; }
  .highlight.swift::after {
    content: "SWIFT"; }
  .highlight.ruby::after {
    content: "RUBY"; }
  .highlight.perl::after {
    content: "PERL"; }
  .highlight.php::after {
    content: "PHP"; }
  .highlight.c::after {
    content: "C"; }
  .highlight.java::after {
    content: "JAVA"; }
  .highlight.cpp::after {
    content: "CPP"; }
  .highlight.scheme::after {
    content: "SCHEME"; }
  .highlight .code pre {
    margin: 0;
    padding: 30px 10px 10px; }
    .highlight .code pre .line {
      height: 19px; }
  .highlight .gutter {
    width: 10px;
    color: #cacaca; }
    .highlight .gutter pre {
      margin: 0;
      padding: 30px 7px 10px; }
  .highlight table, .highlight tr, .highlight td {
    margin: 0;
    padding: 0;
    width: 100%;
    border-collapse: collapse; }
  .highlight .code .comment,
  .highlight .code .quote {
    color: #93a1a1; }
  .highlight .code .keyword,
  .highlight .code .selector-tag,
  .highlight .code .addition {
    color: #859900; }
  .highlight .code .number,
  .highlight .code .string,
  .highlight .code .meta .meta-string,
  .highlight .code .literal,
  .highlight .code .doctag,
  .highlight .code .regexp {
    color: #2aa198; }
  .highlight .code .attribute,
  .highlight .code .attr,
  .highlight .code .variable,
  .highlight .code .template-variable,
  .highlight .code .class .title,
  .highlight .code .type {
    color: #b58900; }
  .highlight .code .symbol,
  .highlight .code .bullet,
  .highlight .code .subst,
  .highlight .code .meta,
  .highlight .code .meta .keyword,
  .highlight .code .selector-attr,
  .highlight .code .selector-pseudo,
  .highlight .code .link {
    color: #cb4b16; }
  .highlight .code .built_in,
  .highlight .code .deletion {
    color: #dc322f; }

.paginator {
  margin-top: 2em;
  margin-bottom: 4em;
  padding: 1em 0; }
  .paginator .prev,
  .paginator .next {
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    font-family: Athelas, Times New Roman, STHeiti, Microsoft Yahei, serif; }
    .paginator .prev span,
    .paginator .next span {
      margin: 0 5px; }
    .paginator .prev:hover,
    .paginator .next:hover {
      color: #c05b4d; }
  .paginator .prev {
    float: left; }
  .paginator .next {
    float: right; }

@font-face {
  font-family: "iconfont";
  src: url("../fonts/iconfont/iconfont.eot");
  /* IE9*/
  src: url("../fonts/iconfont/iconfont.eot#iefix") format("embedded-opentype"), url("../fonts/iconfont/iconfont.woff") format("woff"), url("../fonts/iconfont/iconfont.ttf") format("truetype"), url("../fonts/iconfont/iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */ }

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

.icon-linkedin:before {
  content: "\e60d";
  position: relative;
  top: -2px; }

.icon-twitter:before {
  content: "\e600"; }

.icon-weibo:before {
  content: "\e602"; }

.icon-stack-overflow:before {
  content: "\e603";
  font-size: .85em;
  position: relative;
  top: -4px; }

.icon-email:before {
  content: "\e605";
  position: relative;
  top: -2px; }

.icon-facebook:before {
  content: "\e601";
  font-size: .95em;
  position: relative;
  top: -2px; }

.icon-github:before {
  content: "\e606";
  position: relative;
  top: -3px; }

.icon-rss:before {
  content: "\e604"; }

.icon-google:before {
  content: "\e609"; }

.icon-zhihu:before {
  content: "\e607";
  font-size: .9em;
  position: relative;
  top: -2px; }

.icon-heart:before {
  content: "\e608"; }

.icon-right:before {
  content: "\e60a"; }

.icon-left:before {
  content: "\e60b"; }

.icon-up:before {
  content: "\e60c"; }

.home {
  padding-left: 0;
  margin-top: 2em;
  margin-bottom: 2em; }
  .home .post-item {
    list-style: none;
    border-bottom: 1px solid #e6e6e6; }
    .home .post-item .post-title {
      display: inline-block; }
    .home .post-item .post-title {
      display: block; }
  .home .read-more {
    color: #c05b4d;
    font-size: 1.1em;
    font-family: Athelas, Times New Roman, STHeiti, Microsoft Yahei, serif; }
    .home .read-more:hover {
      border-bottom: 1px solid #c05b4d; }

.archive {
  margin: 3em auto;
  font-size: 16px;
  max-width: 520px; }
  .archive .tags-title,
  .archive .categorys-title {
    font-family: Athelas, Times New Roman, STHeiti, Microsoft Yahei, serif; }
  .archive .year {
    margin: 20px 0;
    font-size: 28px;
    font-weight: 400;
    font-family: Athelas, Times New Roman, STHeiti, Microsoft Yahei, serif; }
  .archive .post-item {
    padding: 2px 10px;
    border-left: 1px solid #cacaca; }
    .archive .post-item:hover {
      padding-left: 13px;
      border-left: 3px solid #c05b4d;
      transition: 0.2s ease-out; }
      .archive .post-item:hover .post-time {
        color: #717171; }
      .archive .post-item:hover .post-link {
        color: #a14639; }
  .archive .post-time {
    display: inline-block;
    margin: 0 10px;
    color: #8a8a8a; }
  .archive .post-link {
    width: 75%;
    display: inline-block;
    color: #c05b4d;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    top: 6px; }

.tags {
  margin-top: 35px;
  padding-top: 20px;
  font-family: Athelas, Times New Roman, STHeiti, Microsoft Yahei, serif;
  border-top: 1px solid #e6e6e6; }
  .tags a {
    margin-right: 5px;
    color: #c05b4d;
    word-break: break-all; }
    .tags a::before {
      content: '#'; }

.tagcloud {
  margin-top: 3em;
  margin-bottom: 5em;
  text-align: center;
  color: #c05b4d;
  font-family: Athelas, Times New Roman, STHeiti, Microsoft Yahei, serif; }
  .tagcloud .total {
    margin-bottom: 10px; }
    .tagcloud .total p {
      margin: auto;
      font-size: 18px;
      width: 110px;
      border-bottom: 2px solid #c05b4d; }
  .tagcloud a {
    display: inline-block;
    word-wrap: break-word;
    margin: 5px;
    position: relative;
    transition-duration: 0.2s;
    transition-property: transform;
    transition-timing-function: ease-out; }
    .tagcloud a:active, .tagcloud a:focus, .tagcloud a:hover {
      color: #c05b4d;
      transform: scale(1.05); }

.categories {
  margin-top: 3em;
  margin-bottom: 5em;
  text-align: center;
  color: #c05b4d;
  font-family: Athelas, Times New Roman, STHeiti, Microsoft Yahei, serif; }
  .categories .total {
    margin-bottom: 20px; }
    .categories .total p {
      margin: auto;
      font-size: 18px;
      width: 110px;
      border-bottom: 2px solid #c05b4d; }
  .categories .category-link {
    display: inline-block;
    margin: 3px 10px;
    position: relative;
    transition-duration: 0.2s;
    transition-property: transform;
    transition-timing-function: ease-out; }
    .categories .category-link .category-count {
      display: inline-block;
      position: relative;
      top: -8px;
      right: -2px;
      color: #c05b4d;
      font-size: 12px; }
    .categories .category-link:active, .categories .category-link:focus, .categories .category-link:hover {
      color: #c05b4d;
      transform: scale(1.05); }

@media screen and (max-width: 800px) {
  #main {
    width: 100%; }
  header {
    padding: 20px 0; }
    header .logo {
      font-size: 42px; }
    header .logo, header .nav {
      float: none;
      display: block;
      text-align: center;
      padding: 0; }
      header .logo .nav-link, header .nav .nav-link {
        padding: 5px 8px; }
  .archive {
    margin: 4em 1em 5em; }
    .archive .post-time {
      margin: 0;
      width: auto;
      font-size: 13px;
      display: block; }
      .archive .post-time.tag, .archive .post-time.category {
        margin-left: 0;
        width: auto; }
    .archive .post-link {
      width: auto;
      max-width: 100%; }
  .tagcloud {
    margin-top: 4em; }
  .post .post-sidebar {
    display: none; }
  #back2top {
    display: none; } }
